@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    border: solid 1px gold;
}

.container {
    /* background-color: rgba(255, 192, 203, 0.6); */
    margin: 5% auto;
    min-height: 400px;
    padding: 10px; 
    font-family: 'Bebas Neue', cursive;
}

.status {
    width: 50%;
    margin: 2% auto;
    font-size: 1.2em;
    padding: 1%;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: -2px 0 hotpink, 0 2px hotpink, 2px 0 hotpink, 0 -2px hotpink;
}

.colorblock {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.color {
    width: 45%;
    margin: 1%;
    border: dashed rgb(255, 255, 255);
    opacity: .4;
    border-radius: 5%;
}

/* Reference: How to Create a Responsive Square with CSS https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.color:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.color:hover {
    border: solid rgb(255, 255, 255);
}

.clicked {
    width: 45%;
    margin: 1%;
    border: solid rgb(255, 255, 255);
    opacity: 1;
    border-radius: 5%;
}

.clicked:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.unclickable {
    pointer-Events: none;
}

.start button {
    padding: 1% 5%;
    border-radius: 40px;
    background-color: yellow;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: -2px 0 hotpink, 0 2px hotpink, 2px 0 hotpink, 0 -2px hotpink;
}

.start button:hover {
    border: white 2px solid;
}

/* 
@media only screen and (max-width: 1024px) {
    .container {
        margin: 5% auto;
        width: 90%;
        height: 600px;
    }

    .status {
        width: 50%;
        font-size: .8em;
    }
    
    .colorblock {
        width: 60%;
    }

    .color {
        height: 100px;
        width: 90%;
    }

    .clicked {
        height: 100px;
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 90%;
        height: 540px;
    }

    .status {
        width: 40%;
        font-size: 1em;
    }
    
    .colorblock {
        width: 90%;
    }

    .color {
        height: 80px;
        width: 50%;
    }

    .clicked {
        height: 80px;
        width: 50%;
    }
}

@media only screen and (max-width: 420px) {
    .container {
        margin: 0 auto;
        width: 90%;
        height: 500px;
    }

    .status {
        width: 90%;
        font-size: .8em;
    }
    
    .colorblock {
        width: 90%;
    }

    .color {
        height: 100px;
        width: 90%;
    }

    .clicked {
        height: 100px;
        width: 90%;
    }
} */
