@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    padding: 10px; 
    font-family: 'Bebas Neue', cursive;
}

/* children: .start .difficulity .statusDisplay and .colorblock */
.main {
    margin: auto;
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    letter-spacing: 0.5em;
    font-size: 4vw;
    color: white;
    text-shadow: -2px 0 hotpink, 0 2px hotpink, 2px 0 hotpink, 0 -2px hotpink;
}

.title h1 {
    margin: 0 auto 10% auto;
}

.start button {
    display: block;
    margin: 0 auto;
    padding: 4% 10%;
    border-radius: 40px;
    background-color: rgb(255, 255, 100);
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.start button:hover {
    border: pink 4px dotted;
}

.difficulity {
    width: 100%;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.difficulity button {
    margin: 0 5%;
    padding: 5% 10%;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

button#easy {
    background-color: rgb(180, 220, 220);
}

button#easy:hover {
    border: dashed 3px rgb(255, 255, 255);
}

button#hard {
    background-color: rgb(220, 180, 220);
}

button#hard:hover {
    border: dashed 3px rgb(255, 255, 255);
}

.levelDisplay {
    display: none;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    font-size: 2.5vw;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: -2px 0 coral, 0 2px coral, 2px 0 coral, 0 -2px coral;
}

/* children: .color */
.colorblock {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.color {
    width: 45%;
    margin: 1%;
    border: dashed 3px white;
    opacity: .4;
    border-radius: 5%;
}

/* Reference: How to Create a Responsive Square with CSS https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.color:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.color:hover {
    border: solid rgb(255, 255, 255);
}

.clicked {
    width: 45%;
    margin: 1%;
    border: solid rgb(255, 255, 255);
    opacity: 1;
    border-radius: 5%;
}

.clicked:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.unclickable {
    pointer-Events: none;
}

/* children: .levelDisplay .restart */
.sidebar {
    width: 38%;
    min-height: 600px;
    margin: auto;
    display: none;
    flex-direction: column;
}

.statusDisplay {
    width: 100%;
    padding: 1%;
    text-align: center;
    font-size: 1.8vw;
    letter-spacing: 0.25em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.buttons {
    width: 70%;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
}

.restart button {
    margin: 5% auto;
    padding: 1vw 5.5vw;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    display: block;
    background-color: rgb(200, 190, 240);
}

.restart button:hover {
    border: green 4px dotted;
}

.switchDifficulity button {
    margin: 5% auto;
    padding: 1vw; 
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    display: block;
    background-color: rgb(140, 170, 250);
}

.switchDifficulity button:hover {
    border: green 4px dotted;
}

@media only screen and (max-width: 1550px) {
    .container {
        width: 70%
    }
}

@media only screen and (max-width: 1350px) {
    .container {
        width: 80%
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        width: 90%
    }

    .levelDisplay {
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        flex-flow: column nowrap;
    }

    .main {
        width: 90%;
        height: 100%;
    }

    .title {
        font-size: 6vw;
    }

    .sidebar {
        justify-content: flex-start;
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    .sidebar.title {
        text-shadow: -1.5px 0 hotpink, 0 1.5px hotpink, 1.5px 0 hotpink, 0 -1.5px hotpink;
        margin: 0 auto;
    }

    .levelDisplay {
        font-size: 4vw;
        letter-spacing: 0.3em;
        text-shadow: -1px 0 coral, 0 1px coral, 1px 0 coral, 0 -1px coral;
    }


    .statusDisplay {
        width: 100%;
        font-size: 4vw;
        letter-spacing: 0.3em;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        margin: 0 auto;
    }

    .buttons {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: row; 
    }

    .restart { 
        width: 50%;
        margin: 0;
    }

    .restart button {
        margin: 5% auto;
        padding: 5% 10%;
        font-size: 3vw;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .switchDifficulity { 
        width: 50%;
        margin: 0;
    }

    .switchDifficulity button {
        padding: 2vw; 
        margin: 5%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}